@import url('spinnerloader.css'); 
@import url('WavesEffect.css'); 
@import url('RadioButton.css'); 


.cssMessageError {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d92550;
}

.input-validation-error {
    border-color: #d92550;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(1.5rem / 2) calc(1.5rem / 2);
    background-image: url('../images/error.png');
}


.input-validation-error:focus {
    border-color: #d92550;
    box-shadow: 0 0 0 0.2rem rgba(217 ,37, 80, 0.25);
}

.valid:focus{
    border-color: #3ac47d;
    box-shadow: 0 0 0 0.2rem rgba(58 ,196 ,125 , 0.25);
}
.valid {
    border-color: #3ac47d;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(1.5rem / 2) calc(1.5rem / 2);
    background-image:  url('../images/valid.png');
}

.No-valid {
    background: #fff;
    border: 1px solid #c7c6c6;
    color: #454545;
}

.form-control {
    transition: all .2s;
}

 .form-control::placeholder {
  color: #c7c7c7 !important;
}



/*.form-control:hover, .form-control:focus, .form-control.active {
    box-shadow: none;
    background: none !important;
}*/

    /*.form-control:hover, .form-control:focus, .form-control.active {
        background: '' !important;
  
    }*/
label {
    color: #6c757d; 
}

.border-bottom-head {
    border-bottom: 1px solid #eef2f7;
}

/* select 2*/
.select2,.select2-selection,.select2-selection__rendered,.select2-selection__arrow {
    height:35px !important; 
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px !important; 
}

.select2-dropdown {
    top: 10px;
    border-radius: 10px !important;
    border-top: 1px solid #aaa !important;
    padding: 10px 5px 10px 5px;
    color: #333333;
}
.select2-search__field {
    padding: 4px 4px 4px 25px !important; 
    border-radius:5px; 
}

.select2-search--dropdown::after {
    content: '\F52A';
    font-family: bootstrap-icons;
    position: absolute;
     top: 28px;
    left: 15px;
    color: inherit;
    display: block;
    /* font-size: 12px; */
    margin-top: -6px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .6;
}

/*^selec 2fin*/

.css_center_block {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.blockUI {
 z-index: 1070 !important; 
}

/* card collapse*/
.card-collapse {
      cursor:pointer; 
}

.card-collapse::after {
   font-family: bootstrap-icons !important;
  content: "\F286"; 
  float: right; 
   transition: transform .2s ease-in-out;
}

.card-body-hide {
    height:0px; 
    padding:0px; 
    overflow:hidden; 
    transition: height .35s ease;
}


.rotate-icon::after {
   transform:rotate(180deg); 
   transition: transform .2s ease-in-out;
}

/*^***resumen venta */

    ._text_detalle {
        width: 45%;
        max-width: 45%;
        display: inline-block;
        text-align: right;
        height: 100%;
    }

    ._text_detalle_monto {
        width: 45%;
        max-width: 45%;
        display: inline-block;
        text-align: right;

    }

    ._toggle_css > toggle-group > label {
        text-align: center;
    }

    .input-group-text_white {
        background: #f9fbfd;
        color: #000;
        border: 1px solid #c7c6c6;
    }

    .Group_Acciones > .dropdown-menu >  .dropdown-item {
        font-size : 14px; 
        cursor:pointer; 
    }

    
/*^*** responsive */

@media only screen and (max-width: 500px) {
  .modal-dialog {
    max-width: 85% !important;
  }
}
    



