@import url('spinnerloader.css'); 
@import url('WavesEffect.css'); 
@import url('RadioButton.css'); 


.cssMessageError {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #d92550;
}

.input-validation-error {
    border-color: #d92550;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(1.5rem / 2) calc(1.5rem / 2);
    background-image: url('../images/error.png');
}


.input-validation-error:focus {
    border-color: #d92550;
    box-shadow: 0 0 0 0.2rem rgba(217 ,37, 80, 0.25);
}

.valid:focus{
    border-color: #3ac47d;
    box-shadow: 0 0 0 0.2rem rgba(58 ,196 ,125 , 0.25);
}
.valid {
    border-color: #3ac47d;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right calc(2.25rem / 4);
    background-size: calc(1.5rem / 2) calc(1.5rem / 2);
    background-image:  url('../images/valid.png');
}

.form-control {
    transition: all .2s;
}

 .form-control::placeholder {
  color: #c7c7c7 !important;
}



/*.form-control:hover, .form-control:focus, .form-control.active {
    box-shadow: none;
    background: none !important;
}*/

    /*.form-control:hover, .form-control:focus, .form-control.active {
        background: '' !important;
  
    }*/
label {
    color: #6c757d; 
}

.border-bottom-head {
    border-bottom: 1px solid #eef2f7;
}

.select2,.select2-selection,.select2-selection__rendered,.select2-selection__arrow {
    height:35px !important; 
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px !important; 
}

.css_center_block {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.blockUI {
 z-index: 1060 !important; 
}

/* card collapse*/
.card-collapse {
      cursor:pointer; 
}

.card-collapse::after {
   font-family: bootstrap-icons !important;
  content: "\F286"; 
  float: right; 
   transition: transform .2s ease-in-out;
}

.card-body-hide {
    height:0px; 
    padding:0px; 
    overflow:hidden; 
    transition: height .35s ease;
}


.rotate-icon::after {
   transform:rotate(180deg); 
   transition: transform .2s ease-in-out;
}




