@model App_Ventas.Areas.Caja.Models.DashboardModelView
<div class="row justify-content-end mb-3">
    <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-12">
        <div class="form-row justify-content-end" style="margin-right: 0px; margin-left: 0px;">
            <div class="col-sm-5 mt-2 mt-sm-0 ">
                @Html.DropDownListFor(model => model.ID_SUCURSAL_INDEX2, Model.Lista_Sucursal, new { @class = "form-control", @style = "width:100%" })
            </div>
            <div class="col-sm-5 mt-2 mt-sm-0 text-right">
                <div class="input-group mb-3">
                    <input type="text" id="Repo_FechaVentaTab2" class="form-control" placeholder="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                    </div>
                </div>
            </div>
            <div class="mt-2 mt-sm-0 text-right">
                <button id="Reporte_btn_VentasBuscar" type="button" class="btn btn-hover-shine btn-square btn-primary "><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card nbx">
            <div class="card-header">
                <h4>Ventas</h4>
                <div class="dropdown">
                    <button type="button" id="Repo_Ventas_ExportExcel" class="btn btn-link" >
                        <i class="bi bi-download"></i>&nbsp;Export Excel                         
                    </button>
                </div>
            </div>
            <div class="card-body">
                <canvas id="Ventas_Chart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-sm-12">
        <div class="card nbx">
            <div class="card-header">
                <h4>Compras</h4>
                <div class="dropdown">
                    <button type="button" class="btn btn-link" id="Repo_Compras_ExportExcel" >
                        <i class="bi bi-download"></i>&nbsp;Export Excel                      
                    </button>

                </div>
            </div>
            <div class="card-body">
                <canvas id="Compras_Chart"></canvas>
            </div>
        </div>
    </div>

</div>
