@model App_Ventas.Areas.Caja.Models.DashboardModelView

<div class="row justify-content-end mb-3">
    <div class="col-xl-7 col-xxl-7 col-lg-7 col-md-12">
        <div class="form-row justify-content-end" style="margin-right: 0px; margin-left: 0px;">
            <div class="col-sm-3 mt-2 mt-sm-0 ">
                @Html.DropDownListFor(model => model.ID_USUARIO_INDEX3, Model.Lista_Usuario, new { @class = "form-control", @maxlength = "150", @style = "width:100%" })
            </div>
            <div class="col-sm-4 mt-2 mt-sm-0 ">
                @Html.DropDownListFor(model => model.ID_SUCURSAL_INDEX3, Model.Lista_Sucursal, new { @class = "form-control", @style = "width:100%" })
            </div>
            <div class="col-sm-4 mt-2 mt-sm-0 text-right">
                <div class="input-group mb-3">
                    <input type="text" id="Repo_FechaProductoTab3" class="form-control" placeholder="">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                    </div>
                </div>
            </div>
            <div class="mt-2 mt-sm-0 text-right">
                <button id="Reporte_btn_MovimientosBuscar" type="button" class="btn btn-hover-shine btn-square btn-primary "><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card nbx">
            <div class="card-header">
                <h4>Listado Entrada/Salida Producto</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="Repo_MovimientoProducto_Grilla" style="width: 100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>
