@model App_Ventas.Areas.Administracion.Models.PersonalModelView

<script>
    $(document).ready(function () {
        $('#Btn_Guardar').click(function () {
            Preguntar();
        });
    });

</script>



@using (Html.BeginForm("Cargo", "Cargo", new { @area = "Administracion" }, FormMethod.Post, new { @id = "frmMantenimientoCargo", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i> Modal title</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        @*<label>First Name</label>*@
                          @Html.LabelFor(model => model.NRO_DOCUMENTO)
                        @*<input type="text" class="form-control" placeholder="1234 Main St">*@
                        @Html.TextBoxFor(model => model.NRO_DOCUMENTO, new { @class = "form-control", @maxlength = "200" })
                        @Html.ValidationMessageFor(model => model.NRO_DOCUMENTO, string.Empty, new { @class = "cssMessageError animated  fadeInUp" })             
                    </div>


                    <div class="form-group col-md-12">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group col-md-12">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group col-md-12">
                        <label>City</label>
                        <input type="text" class="form-control">
                    </div>
                </div>


            </div>
            <div class="modal-footer">

                <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>
                <button type="button" id="Btn_Guardar" class="btn btn-hover-shine btn-square btn-primary"><i class="bi bi-save2"></i>Guardar</button>
            </div>
        </div>
    </div>
}