<script src="@Url.Content("~/Scripts/Js/Administracion/Clientes.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Servicio/ServicioPersona.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        Clientes_ConfigurarGrilla();
        Clientes_CargarGrilla();
    });

    $("#Clientes_btnBuscar").click(function (e) {
        Clientes_CargarGrilla();
    });

    $("#Clientes_btnLimpiar").click(function (e) {
        Clientes_Limpiar();
    });


    $("#Clientes_btnNuevo").click(function (e) {
        Clientes_MostrarNuevo();
    });



</script>

<div class="modal fade" id="myModalNuevo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

@*<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header border-bottom-head">
                <h4 class="card-title">Criterios de Busqueda</h4>
            </div>
            <div class="card-body">

                <div class="basic-form">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Nombres y Apellidos:</label>
                            <input type="text" id="Cliente_NombreYape" class="form-control" placeholder="Ejm: Ivan perez">
                        </div>

                        <div class="form-group col-md-3">
                            <label>Documento:</label>
                            <input type="text" id="Cliente_NumeroDocumento" class="form-control" placeholder="Ejm: 33545656">
                        </div>

                        <div class="form-group col-md-3">
                            <label>Estado:</label>
                            <select class="form-control" id="Clientes_Estado">
                                <option value="2" selected>-- Seleccione --</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <button type="button" id="Clientes_btnBuscar" class="btn btn-hover-shine  btn-square btn-primary "><i class="fa fa-search"></i>&nbsp Buscar</button>
                            <button type="button" id="Clientes_btnLimpiar" class="btn  btn-square btn-light"><i class="bi bi-arrow-clockwise"></i>&nbsp Limpiar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>*@

<div class="row  mb-3">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
          <h4 class="card-title">Listado Clientes</h4>
    </div>
</div>

<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">

                <button id="Clientes_btnNuevo" type="button" class="btn btn-hover-shine btn-square btn-primary "><i class="bi bi-plus-square"></i>&nbsp Nuevo Cliente</button>
            </div>
            <div class="card-body">
                     <div class="table-responsive">
                    <table id="Clientes_Grilla" style="width: 100%" class="table" ></table>
                    @*<div id="Clientes_Barra"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
