USE [BD_SIS_VENTAS]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOG](
	[ID_LOGO] [int] IDENTITY(1,1) NOT NULL,
	[LOGG] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LOGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEG_D_MODULO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEG_D_MODULO](
	[ID_MODULO] [numeric](20, 0) NOT NULL,
	[ID_TIPO_MODULO] [numeric](20, 0) NOT NULL,
	[ID_MODULO_PADRE] [numeric](20, 0) NULL,
	[ID_A] [varchar](200) NULL,
	[ID_LI] [varchar](200) NULL,
	[IMAGEN] [varchar](200) NULL,
	[URL_MODULO] [varchar](500) NULL,
	[DESC_MODULO] [varchar](200) NULL,
	[ORDEN] [int] NULL,
	[NIVEL] [int] NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF__SEG_D_MOD__FLG_E__286302EC]  DEFAULT ((1)),
	[USU_CREACION] [varchar](50) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF__SEG_D_MOD__FEC_C__29572725]  DEFAULT (getdate()),
	[IP_CREACION] [varchar](50) NULL,
	[USU_MODIFICACION] [varchar](50) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[IP_MODIFICACION] [varchar](50) NULL,
	[FLG_LINK] [int] NULL CONSTRAINT [DF__SEG_D_MOD__FLG_L__2A4B4B5E]  DEFAULT ((0)),
	[FLG_SINGRUPO] [int] NULL CONSTRAINT [DF_SEG_D_MODULO_FLG_SINGRUPO]  DEFAULT ((0)),
 CONSTRAINT [PK__SEG_D_MO__3D3C37C34664BC98] PRIMARY KEY CLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEG_D_PERFIL_MODULO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEG_D_PERFIL_MODULO](
	[ID_PERFIL_MODULO] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_PERFIL] [numeric](20, 0) NOT NULL,
	[ID_MODULO] [numeric](20, 0) NOT NULL,
	[FLG_ESTADO] [int] NULL DEFAULT ((1)),
	[USU_CREACION] [varchar](50) NULL,
	[FEC_CREACION] [datetime] NULL,
	[IP_CREACION] [varchar](50) NULL,
	[USU_MODIFICACION] [varchar](50) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[IP_MODIFICACION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEG_M_PERFIL]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEG_M_PERFIL](
	[ID_PERFIL] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[DESC_PERFIL] [varchar](150) NOT NULL,
	[FLG_ESTADO] [char](1) NULL DEFAULT ((1)),
	[USU_CREACION] [varchar](50) NULL,
	[FEC_CREACION] [datetime] NULL DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](50) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEG_M_TIPO_RECURSO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEG_M_TIPO_RECURSO](
	[ID_TIPORECURSO] [numeric](20, 0) NOT NULL,
	[COD_TIPORECURSO] [varchar](200) NOT NULL,
	[NOM_TIPORECURSO] [varchar](200) NULL,
	[DESC_TIPORECURSO] [varchar](200) NULL,
	[FEC_ACTIV_TIPORECURSO] [date] NULL,
	[FEC_DESCACTIV_TIPORECURSO] [date] NULL,
	[FLG_ESTADO] [int] NULL DEFAULT ((1)),
	[USU_CREACION] [varchar](50) NULL,
	[FEC_CREACION] [datetime] NULL DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](50) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_SEG_M_TIPO_RECURSO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPORECURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEG_M_UBIGEO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[SEG_M_UBIGEO](
	[COD_UBIGEO] [char](6) NOT NULL,
	[COD_UBIGEO_PADRE] [char](6) NULL,
	[DESC_UBIGEO] [varchar](60) NULL,
	[TIP_ZONA_GEO] [char](1) NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF_SEG_M_UBIGEO_FLG_ESTADO]  DEFAULT ((1)),
	[USU_CREACION] [varchar](50) NULL,
	[IP_CREACION] [varchar](50) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF_GED_TG_UBIGEO_FEC_CREACION]  DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](50) NULL,
	[IP_MODIFICACION] [varchar](50) NULL,
	[FEC_MODIFICACION] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEG_M_USUARIO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEG_M_USUARIO](
	[ID_USUARIO] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NULL,
	[APE_PATERNO] [varchar](200) NULL,
	[APE_MATERNO] [varchar](200) NULL,
	[DNI] [varchar](20) NULL,
	[ID_TIPO_DOCUMENTO] [int] NULL,
	[CELULAR] [varchar](10) NULL,
	[TELEFONO] [varchar](7) NULL,
	[CORREO] [varchar](200) NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF__SEG_M_USU__FLG_E__36B12243]  DEFAULT ((1)),
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF__SEG_M_USU__FEC_C__37A5467C]  DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[COD_USUARIO] [varchar](150) NOT NULL,
	[CLAVE_USUARIO] [varchar](150) NULL,
	[FLG_ADMIN] [int] NULL CONSTRAINT [DF__SEG_M_USU__FLG_A__4CA06362]  DEFAULT ((0)),
	[COLOR_BADGE] [varchar](100) NULL,
 CONSTRAINT [PK__SEG_M_US__91136B9055881D02] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEG_R_USUARIO_PERFIL]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEG_R_USUARIO_PERFIL](
	[ID_USUARIO_PERFIL] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [numeric](20, 0) NULL,
	[ID_USUARIO] [numeric](20, 0) NULL,
	[ID_PERFIL] [numeric](20, 0) NULL,
	[FEC_ACTIVACION] [datetime] NULL,
	[FEC_DESACTIVACION] [datetime] NULL,
	[FLG_ESTADO] [int] NULL DEFAULT ((1)),
	[USU_CREACION] [varchar](50) NULL,
	[FEC_CREACION] [datetime] NULL DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](50) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO_PERFIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_CARGA_CAMPO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_CARGA_CAMPO](
	[ID_CAMPO] [int] IDENTITY(1,1) NOT NULL,
	[COD_CAMPO] [varchar](50) NULL,
	[DESCRIPCION_CAMPO] [varchar](200) NULL,
	[NRO_CAMPO] [numeric](18, 0) NULL,
	[TIPO_DATO] [varchar](50) NULL,
	[LONGITUD] [numeric](7, 1) NULL,
	[DATO_EJEMPLO] [varchar](100) NULL,
	[OBLIGATORIO] [char](1) NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF_T_CARGA_CAMPO_FLG_ESTADO]  DEFAULT ((1)),
	[USU_CREACION] [varchar](150) NULL,
	[FEC_CREACION] [date] NULL CONSTRAINT [DF_T_CARGA_CAMPO_FEC_CREACION]  DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](150) NULL,
	[FEC_MODIFICACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CAMPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_D_ADELANTO_VENTA]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_D_ADELANTO_VENTA](
	[ID_ADELANTO] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [numeric](20, 0) NULL,
	[ID_VENTA] [numeric](20, 0) NULL,
	[MONTO] [decimal](18, 2) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF_T_D_ADELANTO_VENTA_FEC_CREACION]  DEFAULT (getdate()),
	[USU_CREACION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADELANTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_D_COMPRAS_DETALLE]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_D_COMPRAS_DETALLE](
	[ID_COMPRA_DETALLE] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_COMPRA] [numeric](20, 0) NULL,
	[ID_PRODUCTO] [numeric](20, 0) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[CANTIDAD] [int] NULL,
	[SUB_TOTAL] [decimal](18, 2) NULL,
	[IGV] [decimal](18, 2) NULL,
	[IMPORTE] [decimal](18, 2) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_D_CUENTAS_COBRAR]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_D_CUENTAS_COBRAR](
	[ID_CUENTA_COBRAR] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [numeric](20, 0) NULL,
	[ID_VENTA] [numeric](20, 0) NULL,
	[MONTO] [decimal](18, 2) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF_T_D_CUENTAS_COBRAR_FEC_CREACION]  DEFAULT (getdate()),
	[USU_CREACION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUENTA_COBRAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_D_MOTIVO_DEVOLUCION]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_D_MOTIVO_DEVOLUCION](
	[ID_D_MOTIVO_DEVOLUCION] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA] [numeric](20, 0) NULL,
	[ID_PRODUCTO] [numeric](20, 0) NULL,
	[CANTIDAD] [int] NULL,
	[ID_DEVOLUCION] [int] NULL,
	[FEC_CREACION] [datetime] NULL DEFAULT (getdate()),
	[USU_CREACION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_D_MOTIVO_DEVOLUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_D_TRANSLADOS_DETALLE]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_D_TRANSLADOS_DETALLE](
	[ID_TRANSLADO_DETALLE] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_TRANSLADO] [numeric](20, 0) NULL,
	[ID_PRODUCTO] [numeric](20, 0) NULL,
	[CANTIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANSLADO_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_D_VENTAS_DETALLE]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_D_VENTAS_DETALLE](
	[ID_VENTA_DETALLE] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [numeric](20, 0) NULL,
	[ID_VENTA] [numeric](20, 0) NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[CANTIDAD] [int] NULL,
	[IMPORTE] [decimal](18, 2) NULL,
	[FLG_DEVUELTO] [int] NULL CONSTRAINT [DF_T_M_VENTAS_DETALLE_FLG_DEVUELTO]  DEFAULT ((0)),
	[FEC_DEVUELTO] [datetime] NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_CREACION] [varchar](100) NULL,
 CONSTRAINT [PK__T_M_VENT__0BB668B7745A76D3] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_CATEGORIA]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_CATEGORIA](
	[ID_CATEGORIA] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[DESC_CATEGORIA] [varchar](500) NULL,
	[DESCRIPCION] [varchar](1000) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF_T_M_CATEGORIA_FLG_ESTADO]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_CLIENTE]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_CLIENTE](
	[ID_CLIENTE] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRES_APE] [varchar](500) NULL,
	[ID_TIPO_DOCUMENTO] [int] NULL,
	[NUMERO_DOCUMENTO] [varchar](20) NULL,
	[DIRECCION] [varchar](200) NULL,
	[CORREO] [varchar](100) NULL,
	[TELEFONO] [varchar](7) NULL,
	[CELULAR] [varchar](9) NULL,
	[COD_UBIGEO] [varchar](100) NULL,
	[DETALLE] [varchar](500) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF_T_M_CLIENTE_FEC_CREACION]  DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF_T_M_CLIENTE_FLG_ESTADO]  DEFAULT ((1)),
	[FLG_VIEW] [int] NULL CONSTRAINT [DF_T_M_CLIENTE_FLG_VIEW]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_COMPRAS]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_COMPRAS](
	[ID_COMPRA] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[COD_COMPROBANTE] [varchar](200) NULL,
	[FECHA_COMPROBANTE] [date] NULL,
	[FLG_ANULADO] [int] NULL CONSTRAINT [DF_T_M_COMPRAS_FLG_ANULADO]  DEFAULT ((0)),
	[ID_TIPO_PAGO] [int] NULL,
	[ID_SUCURSAL] [numeric](20, 0) NOT NULL,
	[ID_TIPO_COMPROBANTE] [varchar](10) NOT NULL,
	[ID_PROVEEDOR] [numeric](20, 0) NOT NULL,
	[NRO_OPERACION] [varchar](100) NULL,
	[DESCUENTO] [decimal](18, 2) NULL,
	[SUB_TOTAL] [decimal](18, 2) NULL,
	[IGV] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[DETALLE] [varchar](1000) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_ANULACION] [varchar](100) NULL,
	[FEC_ANULACION] [datetime] NULL,
 CONSTRAINT [PK_T_M_COMPRAS] PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_CONFIGURACION]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_CONFIGURACION](
	[ID_CONFIGURACION] [int] IDENTITY(1,1) NOT NULL,
	[RUC] [varchar](11) NOT NULL,
	[RAZON_SOCIAL] [varchar](200) NULL,
	[NOMBRE_COMERCIAL] [varchar](200) NULL,
	[URBANIZACION] [varchar](300) NULL,
	[DIRECCION_FISCAL] [varchar](200) NULL,
	[COD_UBIGEO] [varchar](100) NULL,
	[TELEFONO] [varchar](7) NULL,
	[NOMBRE_IMPUESTO] [varchar](100) NULL,
	[IMPUESTO] [decimal](18, 2) NULL,
	[FLG_IMPRIMIR] [int] NULL DEFAULT ((0)),
	[FLG_IMPUESTO] [int] NULL DEFAULT ((0)),
	[SIMBOLO_MONEDA] [varchar](50) NULL,
	[CORREO] [varchar](200) NULL,
	[CODIGO_ARCHIVO_ISOTIPO] [varchar](100) NULL,
	[NOMBRE_ARCHIVO_ISOTIPO] [varchar](100) NULL,
	[EXTENSION_ARCHIVO_ISOTIPO] [varchar](100) NULL,
	[CODIGO_ARCHIVO_LOGO] [varchar](100) NULL,
	[NOMBRE_ARCHIVO_LOGO] [varchar](100) NULL,
	[EXTENSION_ARCHIVO_LOGO] [varchar](100) NULL,
	[USU_CREACION] [varchar](100) NOT NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONFIGURACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_CORRELATIVO_COMPROBANTE]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_CORRELATIVO_COMPROBANTE](
	[ID_CORRELATIVO] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[SERIE] [varchar](100) NULL,
	[ID_TIPO_COMPROBANTE] [varchar](10) NULL,
	[ID_SUCURSAL] [int] NULL,
	[CORRELATIVO] [numeric](20, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CORRELATIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_MOTIVO_DEVOLUCION]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_MOTIVO_DEVOLUCION](
	[ID_DEVOLUCION] [int] IDENTITY(1,1) NOT NULL,
	[DESC_DEVOLUCION] [varchar](100) NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF_T_M_MOTIVO_DEVOLUCION_FLG_ESTADO]  DEFAULT ((1)),
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK__T_M_MOTI__B4E28918E5F139CD] PRIMARY KEY CLUSTERED 
(
	[ID_DEVOLUCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_MOVIMIENTO_EFECTIVO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_MOVIMIENTO_EFECTIVO](
	[ID_TIPO_MOVIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL] [int] NULL,
	[FLG_TIPO] [int] NULL,
	[DESC_MOVIMIENTO] [varchar](1000) NULL,
	[MONTO] [decimal](18, 2) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_MOVIMIENTO_PRODUCTO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_MOVIMIENTO_PRODUCTO](
	[ID_MOVIMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [numeric](20, 0) NULL,
	[CANTIDAD] [int] NULL,
	[DETALLE] [varchar](1000) NULL,
	[FLG_MOVIMIENTO] [int] NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[ID_SUCURSAL] [int] NULL,
 CONSTRAINT [PK__T_M_MOVI__44BC2ADA3D9F80E4] PRIMARY KEY CLUSTERED 
(
	[ID_MOVIMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_NOTIFICACION]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_NOTIFICACION](
	[ID_NOTIFICACION] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[MENSAJE] [varchar](max) NULL,
	[FECHA_REGISTRO] [datetime] NULL DEFAULT (getdate()),
	[ESTADO] [int] NULL DEFAULT ((0)),
	[IMAGE] [varchar](100) NULL,
	[COLOR] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_PRODUCTO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_PRODUCTO](
	[ID_PRODUCTO] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[COD_PRODUCTO] [varchar](100) NULL,
	[DESC_PRODUCTO] [varchar](500) NULL,
	[ID_SUCURSAL] [int] NULL,
	[ID_UNIDAD_MEDIDA] [int] NULL,
	[PRECIO_COMPRA] [decimal](18, 2) NULL,
	[PRECIO_VENTA] [decimal](18, 2) NULL,
	[STOCK] [int] NULL,
	[STOCK_MINIMO] [int] NULL,
	[FLG_SERVICIO] [int] NULL CONSTRAINT [DF__T_M_PRODU__FLG_S__6383C8BA]  DEFAULT ((0)),
	[FLG_VENCE] [int] NULL CONSTRAINT [DF__T_M_PRODU__FLG_V__6477ECF3]  DEFAULT ((0)),
	[FECHA_VENCIMIENTO] [date] NULL,
	[MARCA] [varchar](200) NULL,
	[MODELO] [varchar](200) NULL,
	[DETALLE] [varchar](1000) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF_T_M_PRODUCTO_FLG_ESTADO]  DEFAULT ((1)),
	[ID_CATEGORIA] [int] NULL,
	[COD_ARCHIVO] [varchar](100) NULL,
	[NOMBRE_ARCHIVO] [varchar](100) NULL,
	[EXTENSION] [varchar](100) NULL,
 CONSTRAINT [PK__T_M_PROD__88BD03578DCDD1D5] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_PROVEEDOR]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_PROVEEDOR](
	[ID_PROVEEDOR] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRES_APE] [varchar](500) NULL,
	[ID_TIPO_DOCUMENTO] [int] NULL,
	[NUMERO_DOCUMENTO] [varchar](20) NULL,
	[DIRECCION] [varchar](200) NULL,
	[CORREO] [varchar](100) NULL,
	[TELEFONO] [varchar](7) NULL,
	[CELULAR] [varchar](9) NULL,
	[COD_UBIGEO] [varchar](100) NULL,
	[DETALLE] [varchar](500) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF_T_M_PROVEEDOR_FEC_CREACION]  DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF_T_M_PROVEEDOR_FLG_ESTADO]  DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_SUCURSAL]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_SUCURSAL](
	[ID_SUCURSAL] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[DESC_SUCURSAL] [varchar](500) NULL,
	[DIRECCION] [varchar](500) NULL,
	[TELEFONO] [varchar](7) NULL,
	[CORREO] [varchar](200) NULL,
	[URBANIZACION] [varchar](200) NULL,
	[COD_UBIGEO] [varchar](100) NULL,
	[FLG_ESTADO] [int] NULL DEFAULT ((1)),
	[USU_CREACION] [varchar](50) NULL,
	[FEC_CREACION] [datetime] NULL DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](50) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_TIPO_COMPROBANTE]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_TIPO_COMPROBANTE](
	[ID_TIPO_COMPROBANTE] [varchar](10) NOT NULL,
	[DESC_TIPO_COMPROBANTE] [varchar](100) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_T_M_TIPO_COMPROBANTE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_COMPROBANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_TIPO_DOCUMENTO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_TIPO_DOCUMENTO](
	[ID_TIPO_DOCUMENTO] [int] NOT NULL,
	[DESC_TIPO_DOCUMENTO] [varchar](200) NULL,
	[FLG_ESTADO] [int] NULL,
	[USU_CREACION] [varchar](200) NULL,
	[FEC_CREACION] [datetime] NULL,
 CONSTRAINT [PK__T_M_TIPO__84494928FCC47186] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_TIPO_PAGO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_TIPO_PAGO](
	[ID_TIPO_PAGO] [int] NOT NULL,
	[DESC_TIPO_PAGO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_TRANSLADO_PRODUCTO]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_TRANSLADO_PRODUCTO](
	[ID_TRANSLADO] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[ID_SUCURSAL_ORIGEN] [numeric](20, 0) NULL,
	[ID_SUCURSAL_DESTINO] [numeric](20, 0) NULL,
	[DETALLE] [varchar](1000) NULL,
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TRANSLADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_UNIDAD_MEDIDA]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_UNIDAD_MEDIDA](
	[ID_UNIDAD_MEDIDA] [int] NOT NULL,
	[DESC_UNIDAD_MEDIDA] [varchar](200) NULL,
	[COD_UNIDAD_MEDIDA] [varchar](100) NULL,
	[FLG_ESTADO] [int] NULL CONSTRAINT [DF__T_M_UNIDA__FLG_E__681373AD]  DEFAULT ((1)),
	[USU_CREACION] [varchar](200) NULL,
	[FEC_CREACION] [datetime] NULL CONSTRAINT [DF__T_M_UNIDA__FEC_C__690797E6]  DEFAULT (getdate()),
	[USU_MODIFICACION] [varchar](200) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK__T_M_UNID__204ED65AEB11E521] PRIMARY KEY CLUSTERED 
(
	[ID_UNIDAD_MEDIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_M_VENTAS]    Script Date: 30/11/2022 9:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_M_VENTAS](
	[ID_VENTA] [numeric](20, 0) IDENTITY(1,1) NOT NULL,
	[COD_COMPROBANTE] [varchar](200) NULL,
	[FLG_ANULADO] [int] NULL CONSTRAINT [DF_T_M_VENTAS_FLG_ANULADO]  DEFAULT ((0)),
	[ID_TIPO_PAGO] [int] NULL,
	[FECHA_VENTA] [date] NULL CONSTRAINT [DF__T_M_VENTA__FECHA__1332DBDC]  DEFAULT (getdate()),
	[ID_CLIENTE] [numeric](20, 0) NULL,
	[ID_SUCURSAL] [numeric](20, 0) NULL,
	[ID_TIPO_COMPROBANTE] [varchar](10) NULL,
	[SUB_TOTAL] [decimal](18, 2) NULL,
	[IGV] [decimal](18, 2) NULL,
	[DESCUENTO] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[DETALLE] [varchar](1000) NULL,
	[ADELANTO] [decimal](18, 2) NULL CONSTRAINT [DF_T_M_VENTAS_ADELANTO]  DEFAULT ((0)),
	[NRO_OPERACION] [varchar](100) NULL,
	[FLG_ESTADO_CREDITO] [int] NULL CONSTRAINT [DF_T_M_VENTAS_FLG_CRED_CANCELADO]  DEFAULT ((0)),
	[USU_CREACION] [varchar](100) NULL,
	[FEC_CREACION] [datetime] NULL,
	[USU_MODIFICACION] [varchar](100) NULL,
	[FEC_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_T_M_VENTAS] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LOG] ON 

INSERT [dbo].[LOG] ([ID_LOGO], [LOGG]) VALUES (28, N' 
					SELECT 
					V.ID_VENTA, 
					V.COD_COMPROBANTE, 
					V.FLG_ANULADO, 
				    CASE V.FLG_ANULADO 
					WHEN 1 THEN ''Anulado''
				    WHEN 0 THEN ''Realizado''
					END DESC_ESTADO_VENTA, 
					V.ID_TIPO_PAGO,
					TI.DESC_TIPO_PAGO , 
					V.FLG_ESTADO_CREDITO, 
				    CASE V.FLG_ESTADO_CREDITO 
					WHEN 1 THEN ''Cancelado''
					WHEN 0 THEN ''Pendiente''
					END DESC_ESTADO_CREDITO, 
					ISNULL(CONCAT(CONVERT(VARCHAR,CB.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, CB.FEC_CREACION, 8)), ''-'') STR_FECHA_CREDITO_CANCELADO, 
					V.FECHA_VENTA,
				  --CONVERT(VARCHAR,V.FECHA_VENTA, 103) STR_FECHA_VENTA,
					V.ID_CLIENTE,
					V.ID_SUCURSAL,
					V.ID_TIPO_COMPROBANTE,
					C.NOMBRES_APE CLIENTE, 
					CO.DESC_TIPO_COMPROBANTE, 		
					V.SUB_TOTAL,
					V.IGV,
					V.DESCUENTO,
					V.TOTAL, 
					V.NRO_OPERACION ,
				    CASE WHEN V.ID_TIPO_PAGO = 2 AND V.FLG_ESTADO_CREDITO = 0
					THEN ( TOTAL - V.ADELANTO)
					ELSE 0 END DEBE,
					V.ADELANTO,
					V.DETALLE, 
					V.USU_CREACION, 
					V.FEC_CREACION,
					v.FEC_MODIFICACION ,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, V.FEC_CREACION, 8)), ''-'') STR_FECHA_VENTA,
					V.USU_MODIFICACION,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_MODIFICACION, 103), '' '', CONVERT(VARCHAR, V.FEC_MODIFICACION, 8)), ''-'') STR_FECHA_MODIFICACION
					FROM T_M_VENTAS V
					INNER JOIN T_M_CLIENTE C ON C.ID_CLIENTE = V.ID_CLIENTE 
					INNER JOIN T_M_TIPO_COMPROBANTE CO ON CO.ID_TIPO_COMPROBANTE = V.ID_TIPO_COMPROBANTE 
					LEFT JOIN T_D_CUENTAS_COBRAR CB ON CB.ID_VENTA = V.ID_VENTA
					INNER JOIN T_M_TIPO_PAGO TI ON TI.ID_TIPO_PAGO = V.ID_TIPO_PAGO
					 WHERE  UPPER(V.COD_COMPROBANTE) LIKE ''%'' + '''' + ''%'' and V.ID_TIPO_COMPROBANTE =   ISNULL(NULL,V.ID_TIPO_COMPROBANTE)  and V.ID_TIPO_PAGO =   ISNULL(NULL,V.ID_TIPO_PAGO)  and CONVERT(DATE,V.FEC_CREACION,103) = CONVERT(DATE,''27/04/2022'',103)  and UPPER(V.USU_CREACION) = ''IPEREZ''    ORDER BY ID_VENTA desc OFFSET 0 ROWS  FETCH NEXT 10 ROWS ONLY ')
INSERT [dbo].[LOG] ([ID_LOGO], [LOGG]) VALUES (29, N' 
					SELECT 
					V.ID_VENTA, 
					V.COD_COMPROBANTE, 
					V.FLG_ANULADO, 
				    CASE V.FLG_ANULADO 
					WHEN 1 THEN ''Anulado''
				    WHEN 0 THEN ''Realizado''
					END DESC_ESTADO_VENTA, 
					V.ID_TIPO_PAGO,
					TI.DESC_TIPO_PAGO , 
					V.FLG_ESTADO_CREDITO, 
				    CASE V.FLG_ESTADO_CREDITO 
					WHEN 1 THEN ''Cancelado''
					WHEN 0 THEN ''Pendiente''
					END DESC_ESTADO_CREDITO, 
					ISNULL(CONCAT(CONVERT(VARCHAR,CB.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, CB.FEC_CREACION, 8)), ''-'') STR_FECHA_CREDITO_CANCELADO, 
					V.FECHA_VENTA,
				  --CONVERT(VARCHAR,V.FECHA_VENTA, 103) STR_FECHA_VENTA,
					V.ID_CLIENTE,
					V.ID_SUCURSAL,
					V.ID_TIPO_COMPROBANTE,
					C.NOMBRES_APE CLIENTE, 
					CO.DESC_TIPO_COMPROBANTE, 		
					V.SUB_TOTAL,
					V.IGV,
					V.DESCUENTO,
					V.TOTAL, 
					V.NRO_OPERACION ,
				    CASE WHEN V.ID_TIPO_PAGO = 2 AND V.FLG_ESTADO_CREDITO = 0
					THEN ( TOTAL - V.ADELANTO)
					ELSE 0 END DEBE,
					V.ADELANTO,
					V.DETALLE, 
					V.USU_CREACION, 
					V.FEC_CREACION,
					v.FEC_MODIFICACION ,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, V.FEC_CREACION, 8)), ''-'') STR_FECHA_VENTA,
					V.USU_MODIFICACION,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_MODIFICACION, 103), '' '', CONVERT(VARCHAR, V.FEC_MODIFICACION, 8)), ''-'') STR_FECHA_MODIFICACION
					FROM T_M_VENTAS V
					INNER JOIN T_M_CLIENTE C ON C.ID_CLIENTE = V.ID_CLIENTE 
					INNER JOIN T_M_TIPO_COMPROBANTE CO ON CO.ID_TIPO_COMPROBANTE = V.ID_TIPO_COMPROBANTE 
					LEFT JOIN T_D_CUENTAS_COBRAR CB ON CB.ID_VENTA = V.ID_VENTA
					INNER JOIN T_M_TIPO_PAGO TI ON TI.ID_TIPO_PAGO = V.ID_TIPO_PAGO
					 WHERE  UPPER(V.COD_COMPROBANTE) LIKE ''%'' + '''' + ''%'' and V.ID_TIPO_COMPROBANTE =   ISNULL(NULL,V.ID_TIPO_COMPROBANTE)  and V.ID_TIPO_PAGO =   ISNULL(NULL,V.ID_TIPO_PAGO)  and CONVERT(DATE,V.FEC_CREACION,103) = CONVERT(DATE,''27/04/2022'',103)  and UPPER(V.USU_CREACION) = ''IPEREZ'' and ( UPPER(C.NOMBRES_APE) like ''%x%''  OR UPPER(V.COD_COMPROBANTE) like ''%x%'' )    ORDER BY ID_VENTA desc OFFSET 0 ROWS  FETCH NEXT 10 ROWS ONLY ')
INSERT [dbo].[LOG] ([ID_LOGO], [LOGG]) VALUES (30, N' 
					SELECT 
					V.ID_VENTA, 
					V.COD_COMPROBANTE, 
					V.FLG_ANULADO, 
				    CASE V.FLG_ANULADO 
					WHEN 1 THEN ''Anulado''
				    WHEN 0 THEN ''Realizado''
					END DESC_ESTADO_VENTA, 
					V.ID_TIPO_PAGO,
					TI.DESC_TIPO_PAGO , 
					V.FLG_ESTADO_CREDITO, 
				    CASE V.FLG_ESTADO_CREDITO 
					WHEN 1 THEN ''Cancelado''
					WHEN 0 THEN ''Pendiente''
					END DESC_ESTADO_CREDITO, 
					ISNULL(CONCAT(CONVERT(VARCHAR,CB.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, CB.FEC_CREACION, 8)), ''-'') STR_FECHA_CREDITO_CANCELADO, 
					V.FECHA_VENTA,
				  --CONVERT(VARCHAR,V.FECHA_VENTA, 103) STR_FECHA_VENTA,
					V.ID_CLIENTE,
					V.ID_SUCURSAL,
					V.ID_TIPO_COMPROBANTE,
					C.NOMBRES_APE CLIENTE, 
					CO.DESC_TIPO_COMPROBANTE, 		
					V.SUB_TOTAL,
					V.IGV,
					V.DESCUENTO,
					V.TOTAL, 
					V.NRO_OPERACION ,
				    CASE WHEN V.ID_TIPO_PAGO = 2 AND V.FLG_ESTADO_CREDITO = 0
					THEN ( TOTAL - V.ADELANTO)
					ELSE 0 END DEBE,
					V.ADELANTO,
					V.DETALLE, 
					V.USU_CREACION, 
					V.FEC_CREACION,
					v.FEC_MODIFICACION ,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, V.FEC_CREACION, 8)), ''-'') STR_FECHA_VENTA,
					V.USU_MODIFICACION,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_MODIFICACION, 103), '' '', CONVERT(VARCHAR, V.FEC_MODIFICACION, 8)), ''-'') STR_FECHA_MODIFICACION
					FROM T_M_VENTAS V
					INNER JOIN T_M_CLIENTE C ON C.ID_CLIENTE = V.ID_CLIENTE 
					INNER JOIN T_M_TIPO_COMPROBANTE CO ON CO.ID_TIPO_COMPROBANTE = V.ID_TIPO_COMPROBANTE 
					LEFT JOIN T_D_CUENTAS_COBRAR CB ON CB.ID_VENTA = V.ID_VENTA
					INNER JOIN T_M_TIPO_PAGO TI ON TI.ID_TIPO_PAGO = V.ID_TIPO_PAGO
					 WHERE  UPPER(V.COD_COMPROBANTE) LIKE ''%'' + '''' + ''%'' and V.ID_TIPO_COMPROBANTE =   ISNULL(NULL,V.ID_TIPO_COMPROBANTE)  and V.ID_TIPO_PAGO =   ISNULL(NULL,V.ID_TIPO_PAGO)  and CONVERT(DATE,V.FEC_CREACION,103) = CONVERT(DATE,''27/04/2022'',103)  and UPPER(V.USU_CREACION) = ''IPEREZ''    ORDER BY ID_VENTA desc OFFSET 0 ROWS  FETCH NEXT 10 ROWS ONLY ')
INSERT [dbo].[LOG] ([ID_LOGO], [LOGG]) VALUES (31, N' 
					SELECT 
					V.ID_VENTA, 
					V.COD_COMPROBANTE, 
					V.FLG_ANULADO, 
				    CASE V.FLG_ANULADO 
					WHEN 1 THEN ''Anulado''
				    WHEN 0 THEN ''Realizado''
					END DESC_ESTADO_VENTA, 
					V.ID_TIPO_PAGO,
					TI.DESC_TIPO_PAGO , 
					V.FLG_ESTADO_CREDITO, 
				    CASE V.FLG_ESTADO_CREDITO 
					WHEN 1 THEN ''Cancelado''
					WHEN 0 THEN ''Pendiente''
					END DESC_ESTADO_CREDITO, 
					ISNULL(CONCAT(CONVERT(VARCHAR,CB.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, CB.FEC_CREACION, 8)), ''-'') STR_FECHA_CREDITO_CANCELADO, 
					V.FECHA_VENTA,
				  --CONVERT(VARCHAR,V.FECHA_VENTA, 103) STR_FECHA_VENTA,
					V.ID_CLIENTE,
					V.ID_SUCURSAL,
					V.ID_TIPO_COMPROBANTE,
					C.NOMBRES_APE CLIENTE, 
					CO.DESC_TIPO_COMPROBANTE, 		
					V.SUB_TOTAL,
					V.IGV,
					V.DESCUENTO,
					V.TOTAL, 
					V.NRO_OPERACION ,
				    CASE WHEN V.ID_TIPO_PAGO = 2 AND V.FLG_ESTADO_CREDITO = 0
					THEN ( TOTAL - V.ADELANTO)
					ELSE 0 END DEBE,
					V.ADELANTO,
					V.DETALLE, 
					V.USU_CREACION, 
					V.FEC_CREACION,
					v.FEC_MODIFICACION ,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_CREACION, 103), '' '', CONVERT(VARCHAR, V.FEC_CREACION, 8)), ''-'') STR_FECHA_VENTA,
					V.USU_MODIFICACION,
					ISNULL(CONCAT(CONVERT(VARCHAR,V.FEC_MODIFICACION, 103), '' '', CONVERT(VARCHAR, V.FEC_MODIFICACION, 8)), ''-'') STR_FECHA_MODIFICACION
					FROM T_M_VENTAS V
					INNER JOIN T_M_CLIENTE C ON C.ID_CLIENTE = V.ID_CLIENTE 
					INNER JOIN T_M_TIPO_COMPROBANTE CO ON CO.ID_TIPO_COMPROBANTE = V.ID_TIPO_COMPROBANTE 
					LEFT JOIN T_D_CUENTAS_COBRAR CB ON CB.ID_VENTA = V.ID_VENTA
					INNER JOIN T_M_TIPO_PAGO TI ON TI.ID_TIPO_PAGO = V.ID_TIPO_PAGO
					 WHERE  UPPER(V.COD_COMPROBANTE) LIKE ''%'' + '''' + ''%'' and V.ID_TIPO_COMPROBANTE =   ISNULL(NULL,V.ID_TIPO_COMPROBANTE)  and V.ID_TIPO_PAGO =   ISNULL(NULL,V.ID_TIPO_PAGO)  and CONVERT(DATE,V.FEC_CREACION,103) = CONVERT(DATE,''27/04/2022'',103)  and UPPER(V.USU_CREACION) = ''IPEREZ'' and ( UPPER(C.NOMBRES_APE) like ''%x%''  OR UPPER(V.COD_COMPROBANTE) like ''%x%'' )    ORDER BY ID_VENTA desc OFFSET 0 ROWS  FETCH NEXT 10 ROWS ONLY ')
INSERT [dbo].[LOG] ([ID_LOGO], [LOGG]) VALUES (32, N'HOLA')
INSERT [dbo].[LOG] ([ID_LOGO], [LOGG]) VALUES (33, N'')
SET IDENTITY_INSERT [dbo].[LOG] OFF
INSERT [dbo].[SEG_D_MODULO] ([ID_MODULO], [ID_TIPO_MODULO], [ID_MODULO_PADRE], [ID_A], [ID_LI], [IMAGEN], [URL_MODULO], [DESC_MODULO], [ORDEN], [NIVEL], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [IP_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [IP_MODIFICACION], [FLG_LINK], [FLG_SINGRUPO]) VALUES (CAST(1 AS Numeric(20, 0)), CAST(5 AS Numeric(20, 0)), CAST(0 AS Numeric(20, 0)), NULL, N'liAdministracion', N'bi bi-gear-wide-connected', NULL, N'Administración', 1, 1, 1, NULL, CAST(N'2022-03-11 22:02:21.443' AS DateTime), NULL, NULL, NULL, NULL, 0, 0)
INSERT [dbo].[SEG_D_MODULO] ([ID_MODULO], [ID_TIPO_MODULO], [ID_MODULO_PADRE], [ID_A], [ID_LI], [IMAGEN], [URL_MODULO], [DESC_MODULO], [ORDEN], [NIVEL], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [IP_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [IP_MODIFICACION], [FLG_LINK], [FLG_SINGRUPO]) VALUES (CAST(2 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), N'aConfiguracion', N'liConfiguracion', NULL, N'Administracion/ConfigurarEmpresa/Index', N'Configuración Empresa', 2, 2, 1, NULL, CAST(N'2022-06-01 12:28:07.793' AS DateTime), NULL, NULL, NULL, NULL, 0, 0)
INSERT [dbo].[SEG_D_MODULO] ([ID_MODULO], [ID_TIPO_MODULO], [ID_MODULO_PADRE], [ID_A], [ID_LI], [IMAGEN], [URL_MODULO], [DESC_MODULO], [ORDEN], [NIVEL], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [IP_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [IP_MODIFICACION], [FLG_LINK], [FLG_SINGRUPO]) VALUES (CAST(3 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), N'aUsuarios', N'liUsuarios', NULL, N'Administracion/Usuarios/Index', N'Usuarios', 2, 2, 1, NULL, CAST(N'2022-03-11 22:02:55.667' AS DateTime), NULL, NULL, NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[SEG_D_PERFIL_MODULO] ON 

INSERT [dbo].[SEG_D_PERFIL_MODULO] ([ID_PERFIL_MODULO], [ID_PERFIL], [ID_MODULO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [IP_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [IP_MODIFICACION]) VALUES (CAST(10042 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SEG_D_PERFIL_MODULO] ([ID_PERFIL_MODULO], [ID_PERFIL], [ID_MODULO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [IP_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [IP_MODIFICACION]) VALUES (CAST(10044 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SEG_D_PERFIL_MODULO] ([ID_PERFIL_MODULO], [ID_PERFIL], [ID_MODULO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [IP_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [IP_MODIFICACION]) VALUES (CAST(10045 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SEG_D_PERFIL_MODULO] OFF
SET IDENTITY_INSERT [dbo].[SEG_M_PERFIL] ON 

INSERT [dbo].[SEG_M_PERFIL] ([ID_PERFIL], [DESC_PERFIL], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(1 AS Numeric(20, 0)), N'Administrador1', N'1', N'iperez', CAST(N'2022-03-06 12:29:21.203' AS DateTime), N'iperez', CAST(N'2022-05-04 18:44:43.423' AS DateTime))
INSERT [dbo].[SEG_M_PERFIL] ([ID_PERFIL], [DESC_PERFIL], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(3 AS Numeric(20, 0)), N'admin2', N'1', N'iperez', CAST(N'2022-05-23 18:13:22.687' AS DateTime), NULL, NULL)
INSERT [dbo].[SEG_M_PERFIL] ([ID_PERFIL], [DESC_PERFIL], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(4 AS Numeric(20, 0)), N'ADMIN3', N'1', N'iperez', CAST(N'2022-05-23 18:20:04.013' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SEG_M_PERFIL] OFF
INSERT [dbo].[SEG_M_TIPO_RECURSO] ([ID_TIPORECURSO], [COD_TIPORECURSO], [NOM_TIPORECURSO], [DESC_TIPORECURSO], [FEC_ACTIV_TIPORECURSO], [FEC_DESCACTIV_TIPORECURSO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(2 AS Numeric(20, 0)), N'TIPOREC', N'ME', N'MENU', NULL, NULL, 1, NULL, CAST(N'2021-12-10 10:28:47.633' AS DateTime), NULL, NULL)
INSERT [dbo].[SEG_M_TIPO_RECURSO] ([ID_TIPORECURSO], [COD_TIPORECURSO], [NOM_TIPORECURSO], [DESC_TIPORECURSO], [FEC_ACTIV_TIPORECURSO], [FEC_DESCACTIV_TIPORECURSO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(5 AS Numeric(20, 0)), N'TIPOREC', N'GM', N'GRUPO MENU', NULL, NULL, 1, NULL, CAST(N'2021-12-10 10:28:47.660' AS DateTime), NULL, NULL)
INSERT [dbo].[SEG_M_TIPO_RECURSO] ([ID_TIPORECURSO], [COD_TIPORECURSO], [NOM_TIPORECURSO], [DESC_TIPORECURSO], [FEC_ACTIV_TIPORECURSO], [FEC_DESCACTIV_TIPORECURSO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(7 AS Numeric(20, 0)), N'TIPOREC', N'MES', N'MENU SIN GRUPO', NULL, NULL, 1, NULL, CAST(N'2021-12-10 10:28:47.683' AS DateTime), NULL, NULL)
INSERT [dbo].[SEG_M_UBIGEO] ([COD_UBIGEO], [COD_UBIGEO_PADRE], [DESC_UBIGEO], [TIP_ZONA_GEO], [FLG_ESTADO], [USU_CREACION], [IP_CREACION], [FEC_CREACION], [USU_MODIFICACION], [IP_MODIFICACION], [FEC_MODIFICACION]) VALUES (N'000000', NULL, N'PERU', N'0', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SEG_M_UBIGEO] ([COD_UBIGEO], [COD_UBIGEO_PADRE], [DESC_UBIGEO], [TIP_ZONA_GEO], [FLG_ESTADO], [USU_CREACION], [IP_CREACION], [FEC_CREACION], [USU_MODIFICACION], [IP_MODIFICACION], [FEC_MODIFICACION]) VALUES (N'010000', NULL, N'AMAZONAS', N'1', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[SEG_M_UBIGEO] ([COD_UBIGEO], [COD_UBIGEO_PADRE], [DESC_UBIGEO], [TIP_ZONA_GEO], [FLG_ESTADO], [USU_CREACION], [IP_CREACION], [FEC_CREACION], [USU_MODIFICACION], [IP_MODIFICACION], [FEC_MODIFICACION]) VALUES (N'010100', N'010000', N'CHACHAPOYAS', N'1', 1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SEG_M_USUARIO] ON 

INSERT [dbo].[SEG_M_USUARIO] ([ID_USUARIO], [NOMBRE], [APE_PATERNO], [APE_MATERNO], [DNI], [ID_TIPO_DOCUMENTO], [CELULAR], [TELEFONO], [CORREO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [COD_USUARIO], [CLAVE_USUARIO], [FLG_ADMIN], [COLOR_BADGE]) VALUES (CAST(3 AS Numeric(20, 0)), N'IVAN JUSTO', N'PEREZ', N'TINTAYA', N'76213180', 1, N'4565456', N'4535345', N'ivansperezt@gmail.com', 1, N'iperez', CAST(N'2022-03-07 22:11:30.447' AS DateTime), N'iperez', CAST(N'2022-03-07 22:13:00.000' AS DateTime), N'IPEREZ', N'1234', 1, N'secondary')
INSERT [dbo].[SEG_M_USUARIO] ([ID_USUARIO], [NOMBRE], [APE_PATERNO], [APE_MATERNO], [DNI], [ID_TIPO_DOCUMENTO], [CELULAR], [TELEFONO], [CORREO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [COD_USUARIO], [CLAVE_USUARIO], [FLG_ADMIN], [COLOR_BADGE]) VALUES (CAST(4 AS Numeric(20, 0)), N'JUAN', N'VICENTE', N'CASTRO', N'10521256', 1, N'4564564', N'7895455', N'vicentecastro@gmail.com', 1, N'iperez', CAST(N'2022-03-07 22:16:13.953' AS DateTime), N'iperez', CAST(N'2022-04-27 17:13:40.457' AS DateTime), N'JVICENTE', N'123', 0, N'primary')
INSERT [dbo].[SEG_M_USUARIO] ([ID_USUARIO], [NOMBRE], [APE_PATERNO], [APE_MATERNO], [DNI], [ID_TIPO_DOCUMENTO], [CELULAR], [TELEFONO], [CORREO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [COD_USUARIO], [CLAVE_USUARIO], [FLG_ADMIN], [COLOR_BADGE]) VALUES (CAST(6 AS Numeric(20, 0)), N'DANIEL', N'PEREZ', N'HUAMAN', N'78785445', 1, N'3446546', N'4356345', N'peregfd6@gmail.com', 1, N'iperez', CAST(N'2022-03-07 22:37:28.540' AS DateTime), N'IPEREZ', CAST(N'2022-05-31 17:25:22.360' AS DateTime), N'DPEREZ', N'123', 0, N'info')
SET IDENTITY_INSERT [dbo].[SEG_M_USUARIO] OFF
SET IDENTITY_INSERT [dbo].[SEG_R_USUARIO_PERFIL] ON 

INSERT [dbo].[SEG_R_USUARIO_PERFIL] ([ID_USUARIO_PERFIL], [ID_SUCURSAL], [ID_USUARIO], [ID_PERFIL], [FEC_ACTIVACION], [FEC_DESACTIVACION], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(2 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(6 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(N'2022-03-07 00:00:00.000' AS DateTime), CAST(N'2022-03-25 00:00:00.000' AS DateTime), 1, N'iperez', CAST(N'2022-03-07 22:56:48.040' AS DateTime), N'iperez', CAST(N'2022-05-30 21:42:42.130' AS DateTime))
INSERT [dbo].[SEG_R_USUARIO_PERFIL] ([ID_USUARIO_PERFIL], [ID_SUCURSAL], [ID_USUARIO], [ID_PERFIL], [FEC_ACTIVACION], [FEC_DESACTIVACION], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(3 AS Numeric(20, 0)), CAST(10003 AS Numeric(20, 0)), CAST(6 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(N'2022-05-13 00:00:00.000' AS DateTime), CAST(N'2022-05-27 00:00:00.000' AS DateTime), 1, N'iperez', CAST(N'2022-05-05 12:02:42.913' AS DateTime), NULL, NULL)
INSERT [dbo].[SEG_R_USUARIO_PERFIL] ([ID_USUARIO_PERFIL], [ID_SUCURSAL], [ID_USUARIO], [ID_PERFIL], [FEC_ACTIVACION], [FEC_DESACTIVACION], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(6 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(8 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(N'2022-06-25 00:00:00.000' AS DateTime), CAST(N'2022-12-31 00:00:00.000' AS DateTime), 1, N'IPEREZ', CAST(N'2022-06-25 21:59:25.073' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SEG_R_USUARIO_PERFIL] OFF
SET IDENTITY_INSERT [dbo].[T_CARGA_CAMPO] ON 

INSERT [dbo].[T_CARGA_CAMPO] ([ID_CAMPO], [COD_CAMPO], [DESCRIPCION_CAMPO], [NRO_CAMPO], [TIPO_DATO], [LONGITUD], [DATO_EJEMPLO], [OBLIGATORIO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (1, N'COD_PRODUCTO', N'Código Producto', CAST(1 AS Numeric(18, 0)), N'VARCHAR', CAST(100.0 AS Numeric(7, 1)), N'4GFGHF5', N'1', 1, NULL, CAST(N'2022-05-10' AS Date), NULL, NULL)
INSERT [dbo].[T_CARGA_CAMPO] ([ID_CAMPO], [COD_CAMPO], [DESCRIPCION_CAMPO], [NRO_CAMPO], [TIPO_DATO], [LONGITUD], [DATO_EJEMPLO], [OBLIGATORIO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (2, N'DESC_PRODUCTO', N'Producto', CAST(2 AS Numeric(18, 0)), N'VARCHAR', CAST(100.0 AS Numeric(7, 1)), N'VOLT AZUL', N'1', 1, NULL, CAST(N'2022-05-10' AS Date), NULL, NULL)
INSERT [dbo].[T_CARGA_CAMPO] ([ID_CAMPO], [COD_CAMPO], [DESCRIPCION_CAMPO], [NRO_CAMPO], [TIPO_DATO], [LONGITUD], [DATO_EJEMPLO], [OBLIGATORIO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (3, N'ID_CATEGORIA', N'Código Categoria', CAST(3 AS Numeric(18, 0)), N'VARCHAR', CAST(100.0 AS Numeric(7, 1)), N'1', N'1', 1, NULL, CAST(N'2022-05-10' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_CARGA_CAMPO] OFF
SET IDENTITY_INSERT [dbo].[T_D_ADELANTO_VENTA] ON 

INSERT [dbo].[T_D_ADELANTO_VENTA] ([ID_ADELANTO], [ID_CLIENTE], [ID_VENTA], [MONTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10009 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(10096 AS Numeric(20, 0)), CAST(20.00 AS Decimal(18, 2)), CAST(N'2022-04-11 21:42:32.613' AS DateTime), N'IPEREZ')
INSERT [dbo].[T_D_ADELANTO_VENTA] ([ID_ADELANTO], [ID_CLIENTE], [ID_VENTA], [MONTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10010 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(10100 AS Numeric(20, 0)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2022-04-15 23:49:38.583' AS DateTime), NULL)
INSERT [dbo].[T_D_ADELANTO_VENTA] ([ID_ADELANTO], [ID_CLIENTE], [ID_VENTA], [MONTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(20010 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(30108 AS Numeric(20, 0)), CAST(2.00 AS Decimal(18, 2)), CAST(N'2022-07-27 21:13:36.603' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[T_D_ADELANTO_VENTA] OFF
SET IDENTITY_INSERT [dbo].[T_D_COMPRAS_DETALLE] ON 

INSERT [dbo].[T_D_COMPRAS_DETALLE] ([ID_COMPRA_DETALLE], [ID_COMPRA], [ID_PRODUCTO], [PRECIO], [CANTIDAD], [SUB_TOTAL], [IGV], [IMPORTE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(1 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(9 AS Numeric(20, 0)), CAST(0.60 AS Decimal(18, 2)), 7, NULL, NULL, CAST(4.20 AS Decimal(18, 2)), N'iperez', CAST(N'2022-04-07 14:40:40.423' AS DateTime), NULL, NULL)
INSERT [dbo].[T_D_COMPRAS_DETALLE] ([ID_COMPRA_DETALLE], [ID_COMPRA], [ID_PRODUCTO], [PRECIO], [CANTIDAD], [SUB_TOTAL], [IGV], [IMPORTE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(2 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), CAST(9 AS Numeric(20, 0)), CAST(0.60 AS Decimal(18, 2)), 5, NULL, NULL, CAST(3.00 AS Decimal(18, 2)), N'iperez', CAST(N'2022-04-07 20:02:45.667' AS DateTime), NULL, NULL)
INSERT [dbo].[T_D_COMPRAS_DETALLE] ([ID_COMPRA_DETALLE], [ID_COMPRA], [ID_PRODUCTO], [PRECIO], [CANTIDAD], [SUB_TOTAL], [IGV], [IMPORTE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(3 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), CAST(14 AS Numeric(20, 0)), CAST(3.00 AS Decimal(18, 2)), 10000, NULL, NULL, CAST(30.00 AS Decimal(18, 2)), N'iperez', CAST(N'2022-04-07 20:02:45.680' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_D_COMPRAS_DETALLE] OFF
SET IDENTITY_INSERT [dbo].[T_D_CUENTAS_COBRAR] ON 

INSERT [dbo].[T_D_CUENTAS_COBRAR] ([ID_CUENTA_COBRAR], [ID_CLIENTE], [ID_VENTA], [MONTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10009 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), CAST(10093 AS Numeric(20, 0)), CAST(20.00 AS Decimal(18, 2)), CAST(N'2022-04-07 22:52:50.310' AS DateTime), NULL)
INSERT [dbo].[T_D_CUENTAS_COBRAR] ([ID_CUENTA_COBRAR], [ID_CLIENTE], [ID_VENTA], [MONTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10010 AS Numeric(20, 0)), CAST(7 AS Numeric(20, 0)), CAST(10106 AS Numeric(20, 0)), CAST(6.00 AS Decimal(18, 2)), CAST(N'2022-04-27 19:28:23.893' AS DateTime), N'iperez')
INSERT [dbo].[T_D_CUENTAS_COBRAR] ([ID_CUENTA_COBRAR], [ID_CLIENTE], [ID_VENTA], [MONTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10011 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(10100 AS Numeric(20, 0)), CAST(12.00 AS Decimal(18, 2)), CAST(N'2022-06-25 13:17:56.750' AS DateTime), N'IPEREZ')
SET IDENTITY_INSERT [dbo].[T_D_CUENTAS_COBRAR] OFF
SET IDENTITY_INSERT [dbo].[T_D_MOTIVO_DEVOLUCION] ON 

INSERT [dbo].[T_D_MOTIVO_DEVOLUCION] ([ID_D_MOTIVO_DEVOLUCION], [ID_VENTA], [ID_PRODUCTO], [CANTIDAD], [ID_DEVOLUCION], [FEC_CREACION], [USU_CREACION]) VALUES (10, CAST(10107 AS Numeric(20, 0)), CAST(8 AS Numeric(20, 0)), 1, 2, CAST(N'2022-04-18 17:46:16.547' AS DateTime), N'iperez')
INSERT [dbo].[T_D_MOTIVO_DEVOLUCION] ([ID_D_MOTIVO_DEVOLUCION], [ID_VENTA], [ID_PRODUCTO], [CANTIDAD], [ID_DEVOLUCION], [FEC_CREACION], [USU_CREACION]) VALUES (11, CAST(10108 AS Numeric(20, 0)), CAST(8 AS Numeric(20, 0)), 1, 2, CAST(N'2022-04-18 17:48:23.203' AS DateTime), N'iperez')
INSERT [dbo].[T_D_MOTIVO_DEVOLUCION] ([ID_D_MOTIVO_DEVOLUCION], [ID_VENTA], [ID_PRODUCTO], [CANTIDAD], [ID_DEVOLUCION], [FEC_CREACION], [USU_CREACION]) VALUES (12, CAST(10109 AS Numeric(20, 0)), CAST(8 AS Numeric(20, 0)), 1, 3, CAST(N'2022-04-18 17:52:11.630' AS DateTime), N'iperez')
SET IDENTITY_INSERT [dbo].[T_D_MOTIVO_DEVOLUCION] OFF
SET IDENTITY_INSERT [dbo].[T_D_TRANSLADOS_DETALLE] ON 

INSERT [dbo].[T_D_TRANSLADOS_DETALLE] ([ID_TRANSLADO_DETALLE], [ID_TRANSLADO], [ID_PRODUCTO], [CANTIDAD]) VALUES (CAST(1 AS Numeric(20, 0)), CAST(1 AS Numeric(20, 0)), CAST(14 AS Numeric(20, 0)), 10000)
INSERT [dbo].[T_D_TRANSLADOS_DETALLE] ([ID_TRANSLADO_DETALLE], [ID_TRANSLADO], [ID_PRODUCTO], [CANTIDAD]) VALUES (CAST(2 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(7 AS Numeric(20, 0)), 4)
INSERT [dbo].[T_D_TRANSLADOS_DETALLE] ([ID_TRANSLADO_DETALLE], [ID_TRANSLADO], [ID_PRODUCTO], [CANTIDAD]) VALUES (CAST(3 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), CAST(7 AS Numeric(20, 0)), 10)
SET IDENTITY_INSERT [dbo].[T_D_TRANSLADOS_DETALLE] OFF
SET IDENTITY_INSERT [dbo].[T_D_VENTAS_DETALLE] ON 

INSERT [dbo].[T_D_VENTAS_DETALLE] ([ID_VENTA_DETALLE], [ID_PRODUCTO], [ID_VENTA], [PRECIO], [CANTIDAD], [IMPORTE], [FLG_DEVUELTO], [FEC_DEVUELTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10169 AS Numeric(20, 0)), CAST(9 AS Numeric(20, 0)), CAST(10093 AS Numeric(20, 0)), CAST(1.00 AS Decimal(18, 2)), 1, CAST(1.00 AS Decimal(18, 2)), 0, NULL, CAST(N'2022-04-07 10:46:07.650' AS DateTime), N'iperez')
INSERT [dbo].[T_D_VENTAS_DETALLE] ([ID_VENTA_DETALLE], [ID_PRODUCTO], [ID_VENTA], [PRECIO], [CANTIDAD], [IMPORTE], [FLG_DEVUELTO], [FEC_DEVUELTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10170 AS Numeric(20, 0)), CAST(9 AS Numeric(20, 0)), CAST(10094 AS Numeric(20, 0)), CAST(1.00 AS Decimal(18, 2)), 1, CAST(1.00 AS Decimal(18, 2)), 0, NULL, CAST(N'2022-04-08 09:31:37.860' AS DateTime), N'iperez')
INSERT [dbo].[T_D_VENTAS_DETALLE] ([ID_VENTA_DETALLE], [ID_PRODUCTO], [ID_VENTA], [PRECIO], [CANTIDAD], [IMPORTE], [FLG_DEVUELTO], [FEC_DEVUELTO], [FEC_CREACION], [USU_CREACION]) VALUES (CAST(10171 AS Numeric(20, 0)), CAST(14 AS Numeric(20, 0)), CAST(10094 AS Numeric(20, 0)), CAST(6.00 AS Decimal(18, 2)), 1000, CAST(6.00 AS Decimal(18, 2)), 0, NULL, CAST(N'2022-04-08 09:31:37.870' AS DateTime), N'iperez')
SET IDENTITY_INSERT [dbo].[T_D_VENTAS_DETALLE] OFF
SET IDENTITY_INSERT [dbo].[T_M_CATEGORIA] ON 

INSERT [dbo].[T_M_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [DESCRIPCION], [FEC_CREACION], [USU_CREACION], [FEC_MODIFICACION], [USU_MODIFICACION], [FLG_ESTADO]) VALUES (CAST(1 AS Numeric(20, 0)), N'bbeidas', N'xd', CAST(N'2022-03-08 11:31:12.597' AS DateTime), N'iperez', CAST(N'2022-03-08 15:35:58.630' AS DateTime), N'iperez', 1)
INSERT [dbo].[T_M_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [DESCRIPCION], [FEC_CREACION], [USU_CREACION], [FEC_MODIFICACION], [USU_MODIFICACION], [FLG_ESTADO]) VALUES (CAST(2 AS Numeric(20, 0)), N'SNACKS', N'XD', CAST(N'2022-05-08 20:50:57.543' AS DateTime), N'iperez', NULL, NULL, 1)
INSERT [dbo].[T_M_CATEGORIA] ([ID_CATEGORIA], [DESC_CATEGORIA], [DESCRIPCION], [FEC_CREACION], [USU_CREACION], [FEC_MODIFICACION], [USU_MODIFICACION], [FLG_ESTADO]) VALUES (CAST(3 AS Numeric(20, 0)), N'comida', N'categoria de comidas', CAST(N'2022-05-10 17:34:48.023' AS DateTime), N'iperez', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[T_M_CATEGORIA] OFF
SET IDENTITY_INSERT [dbo].[T_M_CLIENTE] ON 

INSERT [dbo].[T_M_CLIENTE] ([ID_CLIENTE], [NOMBRES_APE], [ID_TIPO_DOCUMENTO], [NUMERO_DOCUMENTO], [DIRECCION], [CORREO], [TELEFONO], [CELULAR], [COD_UBIGEO], [DETALLE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [FLG_ESTADO], [FLG_VIEW]) VALUES (CAST(1 AS Numeric(20, 0)), N'JULIO GUZMAN', 1, N'56456456', N'xd55', N'ivansperezt@gmail.com', N'3345345', N'345345453', N'150143', N'xd2', N'iperez', CAST(N'2022-03-06 23:27:59.233' AS DateTime), N'iperez', CAST(N'2022-03-29 13:22:18.417' AS DateTime), 1, 1)
INSERT [dbo].[T_M_CLIENTE] ([ID_CLIENTE], [NOMBRES_APE], [ID_TIPO_DOCUMENTO], [NUMERO_DOCUMENTO], [DIRECCION], [CORREO], [TELEFONO], [CELULAR], [COD_UBIGEO], [DETALLE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [FLG_ESTADO], [FLG_VIEW]) VALUES (CAST(3 AS Numeric(20, 0)), N'PEREZ TINTAYA IVAN JUSTO', 6, N'10762131809', N'MZA. Ñ1 LOTE. 7 A.H.  EL PARAISO  LIMA - LIMA - VILLA MARIA DEL TRIUNFO', N'ivansperezt@gmail.com', N'1024545', N'970742760', N'150143', N'cliente preferido', N'iperez', CAST(N'2022-03-07 15:37:08.047' AS DateTime), NULL, NULL, 1, 1)
INSERT [dbo].[T_M_CLIENTE] ([ID_CLIENTE], [NOMBRES_APE], [ID_TIPO_DOCUMENTO], [NUMERO_DOCUMENTO], [DIRECCION], [CORREO], [TELEFONO], [CELULAR], [COD_UBIGEO], [DETALLE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [FLG_ESTADO], [FLG_VIEW]) VALUES (CAST(4 AS Numeric(20, 0)), N'FELIPE GARCIA MEZA', 1, N'12457878', N'VILLA MARIA DEL TRIUNFO ASENT.H. EL PARAISO MZ. Ñ1 LT. 7', N'DFSS@GMAIL.COM', N'2343453', N'2343243', N'010101', N'XD', N'iperez', CAST(N'2022-03-25 22:32:16.133' AS DateTime), NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[T_M_CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[T_M_COMPRAS] ON 

SET IDENTITY_INSERT [dbo].[T_M_COMPRAS] OFF
SET IDENTITY_INSERT [dbo].[T_M_CONFIGURACION] ON 

SET IDENTITY_INSERT [dbo].[T_M_CONFIGURACION] OFF
SET IDENTITY_INSERT [dbo].[T_M_CORRELATIVO_COMPROBANTE] ON 

INSERT [dbo].[T_M_CORRELATIVO_COMPROBANTE] ([ID_CORRELATIVO], [SERIE], [ID_TIPO_COMPROBANTE], [ID_SUCURSAL], [CORRELATIVO]) VALUES (CAST(1 AS Numeric(20, 0)), NULL, N'01', 2, CAST(2 AS Numeric(20, 0)))
INSERT [dbo].[T_M_CORRELATIVO_COMPROBANTE] ([ID_CORRELATIVO], [SERIE], [ID_TIPO_COMPROBANTE], [ID_SUCURSAL], [CORRELATIVO]) VALUES (CAST(2 AS Numeric(20, 0)), NULL, N'03', 2, CAST(139 AS Numeric(20, 0)))
INSERT [dbo].[T_M_CORRELATIVO_COMPROBANTE] ([ID_CORRELATIVO], [SERIE], [ID_TIPO_COMPROBANTE], [ID_SUCURSAL], [CORRELATIVO]) VALUES (CAST(3 AS Numeric(20, 0)), NULL, N'88', 2, CAST(1 AS Numeric(20, 0)))
SET IDENTITY_INSERT [dbo].[T_M_CORRELATIVO_COMPROBANTE] OFF
SET IDENTITY_INSERT [dbo].[T_M_MOTIVO_DEVOLUCION] ON 

INSERT [dbo].[T_M_MOTIVO_DEVOLUCION] ([ID_DEVOLUCION], [DESC_DEVOLUCION], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (1, N'Producto Vencido', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_M_MOTIVO_DEVOLUCION] ([ID_DEVOLUCION], [DESC_DEVOLUCION], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (2, N'Producto en mal estado', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[T_M_MOTIVO_DEVOLUCION] ([ID_DEVOLUCION], [DESC_DEVOLUCION], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (3, N'Compra erronea', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_M_MOTIVO_DEVOLUCION] OFF
SET IDENTITY_INSERT [dbo].[T_M_MOVIMIENTO_EFECTIVO] ON 

INSERT [dbo].[T_M_MOVIMIENTO_EFECTIVO] ([ID_TIPO_MOVIMIENTO], [ID_SUCURSAL], [FLG_TIPO], [DESC_MOVIMIENTO], [MONTO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (3, 2, 1, N'xd', CAST(20.00 AS Decimal(18, 2)), N'iperez', CAST(N'2022-04-14 16:06:56.173' AS DateTime), NULL, NULL)
INSERT [dbo].[T_M_MOVIMIENTO_EFECTIVO] ([ID_TIPO_MOVIMIENTO], [ID_SUCURSAL], [FLG_TIPO], [DESC_MOVIMIENTO], [MONTO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (4, 2, 2, N'xd', CAST(10.00 AS Decimal(18, 2)), N'iperez', CAST(N'2022-04-14 16:15:04.340' AS DateTime), NULL, NULL)
INSERT [dbo].[T_M_MOVIMIENTO_EFECTIVO] ([ID_TIPO_MOVIMIENTO], [ID_SUCURSAL], [FLG_TIPO], [DESC_MOVIMIENTO], [MONTO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (5, 2, 1, N'de algo dfghfhfg', CAST(20.00 AS Decimal(18, 2)), N'iperez', CAST(N'2022-04-15 23:50:00.370' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_M_MOVIMIENTO_EFECTIVO] OFF
SET IDENTITY_INSERT [dbo].[T_M_MOVIMIENTO_PRODUCTO] ON 

INSERT [dbo].[T_M_MOVIMIENTO_PRODUCTO] ([ID_MOVIMIENTO], [ID_PRODUCTO], [CANTIDAD], [DETALLE], [FLG_MOVIMIENTO], [USU_CREACION], [FEC_CREACION], [ID_SUCURSAL]) VALUES (1, CAST(8 AS Numeric(20, 0)), 6, N'x', 1, N'iperez', CAST(N'2022-04-28 22:37:00.000' AS DateTime), 1)
INSERT [dbo].[T_M_MOVIMIENTO_PRODUCTO] ([ID_MOVIMIENTO], [ID_PRODUCTO], [CANTIDAD], [DETALLE], [FLG_MOVIMIENTO], [USU_CREACION], [FEC_CREACION], [ID_SUCURSAL]) VALUES (2, CAST(8 AS Numeric(20, 0)), 5, N'me equivoque ups', 2, N'iperez', CAST(N'2022-04-28 22:40:22.120' AS DateTime), 1)
INSERT [dbo].[T_M_MOVIMIENTO_PRODUCTO] ([ID_MOVIMIENTO], [ID_PRODUCTO], [CANTIDAD], [DETALLE], [FLG_MOVIMIENTO], [USU_CREACION], [FEC_CREACION], [ID_SUCURSAL]) VALUES (3, CAST(7 AS Numeric(20, 0)), 10, NULL, 1, N'iperez', CAST(N'2022-04-30 12:40:52.467' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[T_M_MOVIMIENTO_PRODUCTO] OFF
SET IDENTITY_INSERT [dbo].[T_M_NOTIFICACION] ON 

INSERT [dbo].[T_M_NOTIFICACION] ([ID_NOTIFICACION], [MENSAJE], [FECHA_REGISTRO], [ESTADO], [IMAGE], [COLOR]) VALUES (CAST(8 AS Numeric(20, 0)), N'Te estas quedando sin stock, El producto MANDARINA GUANDOesta en el minimo de stock requerido', CAST(N'2022-08-06 22:07:13.213' AS DateTime), 1, N'bi bi-box-seam', N'danger')
INSERT [dbo].[T_M_NOTIFICACION] ([ID_NOTIFICACION], [MENSAJE], [FECHA_REGISTRO], [ESTADO], [IMAGE], [COLOR]) VALUES (CAST(9 AS Numeric(20, 0)), N'<b>IPEREZ</b> Anulo una venta, se anulo el comprobante 000119', CAST(N'2022-08-06 22:07:59.120' AS DateTime), 1, N'bi bi-cart3', N'danger')
INSERT [dbo].[T_M_NOTIFICACION] ([ID_NOTIFICACION], [MENSAJE], [FECHA_REGISTRO], [ESTADO], [IMAGE], [COLOR]) VALUES (CAST(10 AS Numeric(20, 0)), N'<b>IPEREZ</b> Devolvio producto, se devolvio el producto VOLT AZULcon la cantidad de 1', CAST(N'2022-08-06 22:08:58.753' AS DateTime), 1, N'bi bi-box-arrow-in-down-left', N'primary')
SET IDENTITY_INSERT [dbo].[T_M_NOTIFICACION] OFF
SET IDENTITY_INSERT [dbo].[T_M_PRODUCTO] ON 

SET IDENTITY_INSERT [dbo].[T_M_PRODUCTO] OFF
SET IDENTITY_INSERT [dbo].[T_M_PROVEEDOR] ON 

INSERT [dbo].[T_M_PROVEEDOR] ([ID_PROVEEDOR], [NOMBRES_APE], [ID_TIPO_DOCUMENTO], [NUMERO_DOCUMENTO], [DIRECCION], [CORREO], [TELEFONO], [CELULAR], [COD_UBIGEO], [DETALLE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION], [FLG_ESTADO]) VALUES (CAST(1 AS Numeric(20, 0)), N'IVAN JUSTO PEREZ TINTAYA', 1, N'43435345', N'VILLA MARIA DEL TRIUNFO ASENT.H. EL PARAISO MZ. Ñ1 LT. 7', N'ivansperezt@gmail.com', N'3453454', N'345543534', N'010102', N'xd1', N'iperez', CAST(N'2022-03-07 16:08:45.863' AS DateTime), N'iperez', CAST(N'2022-04-27 09:05:00.287' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[T_M_PROVEEDOR] OFF
SET IDENTITY_INSERT [dbo].[T_M_SUCURSAL] ON 

INSERT [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL], [DESC_SUCURSAL], [DIRECCION], [TELEFONO], [CORREO], [URBANIZACION], [COD_UBIGEO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(2 AS Numeric(20, 0)), N'EL PARADO DE LA P', N'MFDKLHJFGKL', N'4564564', N'IVANSPEREZT@GMAIL.COM', N'EGDFG', N'010101', 1, N'iperez', CAST(N'2022-03-07 22:56:31.230' AS DateTime), NULL, NULL)
INSERT [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL], [DESC_SUCURSAL], [DIRECCION], [TELEFONO], [CORREO], [URBANIZACION], [COD_UBIGEO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(3 AS Numeric(20, 0)), N'EL METRO DE ANGAMOS XD', N'MZÑ1 LOTE 7', N'345345', N'IVANSPEREZT@GMAIL.COM', N'VFGHFG', N'010102', 1, N'iperez', CAST(N'2022-04-17 14:39:01.103' AS DateTime), NULL, NULL)
INSERT [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL], [DESC_SUCURSAL], [DIRECCION], [TELEFONO], [CORREO], [URBANIZACION], [COD_UBIGEO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (CAST(10003 AS Numeric(20, 0)), N'PEDREGAL EN COLOMBIA', N'MAZ LOTE 4', N'345345', N'dfgdf@gmail.com', N'LOS JRDINES', N'010102', 1, N'iperez', CAST(N'2022-04-26 22:32:54.667' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_M_SUCURSAL] OFF
INSERT [dbo].[T_M_TIPO_COMPROBANTE] ([ID_TIPO_COMPROBANTE], [DESC_TIPO_COMPROBANTE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (N'01', N'FACTURA', NULL, NULL, NULL, NULL)
INSERT [dbo].[T_M_TIPO_COMPROBANTE] ([ID_TIPO_COMPROBANTE], [DESC_TIPO_COMPROBANTE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (N'03', N'BOLETA', NULL, NULL, NULL, NULL)
INSERT [dbo].[T_M_TIPO_COMPROBANTE] ([ID_TIPO_COMPROBANTE], [DESC_TIPO_COMPROBANTE], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (N'07', N'NOTA DE CRÉDITO', NULL, NULL, NULL, NULL)
INSERT [dbo].[T_M_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [DESC_TIPO_DOCUMENTO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION]) VALUES (1, N'DNI', 1, NULL, NULL)
INSERT [dbo].[T_M_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [DESC_TIPO_DOCUMENTO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION]) VALUES (4, N'CARNET EXTRANJERIA', 1, NULL, NULL)
INSERT [dbo].[T_M_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO], [DESC_TIPO_DOCUMENTO], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION]) VALUES (6, N'RUC', 1, NULL, NULL)
INSERT [dbo].[T_M_TIPO_PAGO] ([ID_TIPO_PAGO], [DESC_TIPO_PAGO]) VALUES (1, N'AL CONTADO')
INSERT [dbo].[T_M_TIPO_PAGO] ([ID_TIPO_PAGO], [DESC_TIPO_PAGO]) VALUES (2, N'CREDITO')
INSERT [dbo].[T_M_TIPO_PAGO] ([ID_TIPO_PAGO], [DESC_TIPO_PAGO]) VALUES (3, N'DEPOSITO')
SET IDENTITY_INSERT [dbo].[T_M_TRANSLADO_PRODUCTO] ON 

INSERT [dbo].[T_M_TRANSLADO_PRODUCTO] ([ID_TRANSLADO], [ID_SUCURSAL_ORIGEN], [ID_SUCURSAL_DESTINO], [DETALLE], [USU_CREACION], [FEC_CREACION]) VALUES (CAST(1 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), N'me pidio jorge que le pase los productos', N'iperez', CAST(N'2022-04-30 12:30:31.757' AS DateTime))
INSERT [dbo].[T_M_TRANSLADO_PRODUCTO] ([ID_TRANSLADO], [ID_SUCURSAL_ORIGEN], [ID_SUCURSAL_DESTINO], [DETALLE], [USU_CREACION], [FEC_CREACION]) VALUES (CAST(2 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), N'XDDDD', N'iperez', CAST(N'2022-04-30 12:36:11.247' AS DateTime))
INSERT [dbo].[T_M_TRANSLADO_PRODUCTO] ([ID_TRANSLADO], [ID_SUCURSAL_ORIGEN], [ID_SUCURSAL_DESTINO], [DETALLE], [USU_CREACION], [FEC_CREACION]) VALUES (CAST(3 AS Numeric(20, 0)), CAST(2 AS Numeric(20, 0)), CAST(3 AS Numeric(20, 0)), N'me pidio jorge que le pase los productos', N'iperez', CAST(N'2022-04-30 12:42:12.100' AS DateTime))
SET IDENTITY_INSERT [dbo].[T_M_TRANSLADO_PRODUCTO] OFF
INSERT [dbo].[T_M_UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA], [DESC_UNIDAD_MEDIDA], [COD_UNIDAD_MEDIDA], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (1, N'KILOGRAMOS', N'Kg', 1, NULL, CAST(N'2022-03-08 16:49:20.610' AS DateTime), NULL, NULL)
INSERT [dbo].[T_M_UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA], [DESC_UNIDAD_MEDIDA], [COD_UNIDAD_MEDIDA], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (2, N'LIBRAS', NULL, 1, NULL, CAST(N'2022-03-08 16:49:31.513' AS DateTime), NULL, NULL)
INSERT [dbo].[T_M_UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA], [DESC_UNIDAD_MEDIDA], [COD_UNIDAD_MEDIDA], [FLG_ESTADO], [USU_CREACION], [FEC_CREACION], [USU_MODIFICACION], [FEC_MODIFICACION]) VALUES (3, N'TONELADAS LARGAS', NULL, 1, NULL, CAST(N'2022-03-08 16:49:33.587' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[T_M_VENTAS] ON 

SET IDENTITY_INSERT [dbo].[T_M_VENTAS] OFF
ALTER TABLE [dbo].[SEG_D_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_MODULO_TIPORECURSO] FOREIGN KEY([ID_TIPO_MODULO])
REFERENCES [dbo].[SEG_M_TIPO_RECURSO] ([ID_TIPORECURSO])
GO
ALTER TABLE [dbo].[SEG_D_MODULO] CHECK CONSTRAINT [FK_MODULO_TIPORECURSO]
GO
ALTER TABLE [dbo].[SEG_D_PERFIL_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_PERFILMODULO_ID_MODULO] FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[SEG_D_MODULO] ([ID_MODULO])
GO
ALTER TABLE [dbo].[SEG_D_PERFIL_MODULO] CHECK CONSTRAINT [FK_PERFILMODULO_ID_MODULO]
GO
ALTER TABLE [dbo].[SEG_D_PERFIL_MODULO]  WITH CHECK ADD  CONSTRAINT [FK_PERFILMODULO_ID_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [dbo].[SEG_M_PERFIL] ([ID_PERFIL])
GO
ALTER TABLE [dbo].[SEG_D_PERFIL_MODULO] CHECK CONSTRAINT [FK_PERFILMODULO_ID_PERFIL]
GO
ALTER TABLE [dbo].[SEG_M_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_PERSONAL_TIPODOCUMENTO] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[T_M_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[SEG_M_USUARIO] CHECK CONSTRAINT [FK_PERSONAL_TIPODOCUMENTO]
GO
ALTER TABLE [dbo].[SEG_R_USUARIO_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_USU_PERFIL_ID_PERFIL] FOREIGN KEY([ID_PERFIL])
REFERENCES [dbo].[SEG_M_PERFIL] ([ID_PERFIL])
GO
ALTER TABLE [dbo].[SEG_R_USUARIO_PERFIL] CHECK CONSTRAINT [FK_USU_PERFIL_ID_PERFIL]
GO
ALTER TABLE [dbo].[SEG_R_USUARIO_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_USU_PERFIL_ID_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[SEG_R_USUARIO_PERFIL] CHECK CONSTRAINT [FK_USU_PERFIL_ID_SUCURSAL]
GO
ALTER TABLE [dbo].[SEG_R_USUARIO_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_USU_PERFIL_ID_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[SEG_M_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[SEG_R_USUARIO_PERFIL] CHECK CONSTRAINT [FK_USU_PERFIL_ID_USUARIO]
GO
ALTER TABLE [dbo].[T_D_ADELANTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_T_D_DELANTO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[T_M_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[T_D_ADELANTO_VENTA] CHECK CONSTRAINT [FK_T_D_DELANTO_CLIENTE]
GO
ALTER TABLE [dbo].[T_D_ADELANTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_T_D_DELANTO_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[T_M_VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[T_D_ADELANTO_VENTA] CHECK CONSTRAINT [FK_T_D_DELANTO_VENTA]
GO
ALTER TABLE [dbo].[T_D_COMPRAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPRASDETALLE_COMPRAS] FOREIGN KEY([ID_COMPRA])
REFERENCES [dbo].[T_M_COMPRAS] ([ID_COMPRA])
GO
ALTER TABLE [dbo].[T_D_COMPRAS_DETALLE] CHECK CONSTRAINT [FK_COMPRASDETALLE_COMPRAS]
GO
ALTER TABLE [dbo].[T_D_COMPRAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPRASDETALLE_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[T_M_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[T_D_COMPRAS_DETALLE] CHECK CONSTRAINT [FK_COMPRASDETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[T_D_CUENTAS_COBRAR]  WITH CHECK ADD  CONSTRAINT [FK_T_D_CUENTASCOBRAR_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[T_M_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[T_D_CUENTAS_COBRAR] CHECK CONSTRAINT [FK_T_D_CUENTASCOBRAR_CLIENTE]
GO
ALTER TABLE [dbo].[T_D_CUENTAS_COBRAR]  WITH CHECK ADD  CONSTRAINT [FK_T_D_CUENTASCOBRAR_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[T_M_VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[T_D_CUENTAS_COBRAR] CHECK CONSTRAINT [FK_T_D_CUENTASCOBRAR_VENTA]
GO
ALTER TABLE [dbo].[T_D_MOTIVO_DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_MOTIVOD_DEVOLUCION] FOREIGN KEY([ID_DEVOLUCION])
REFERENCES [dbo].[T_M_MOTIVO_DEVOLUCION] ([ID_DEVOLUCION])
GO
ALTER TABLE [dbo].[T_D_MOTIVO_DEVOLUCION] CHECK CONSTRAINT [FK_MOTIVOD_DEVOLUCION]
GO
ALTER TABLE [dbo].[T_D_MOTIVO_DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_MOTIVOD_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[T_M_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[T_D_MOTIVO_DEVOLUCION] CHECK CONSTRAINT [FK_MOTIVOD_PRODUCTO]
GO
ALTER TABLE [dbo].[T_D_MOTIVO_DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_MOTIVOD_VENTAS] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[T_M_VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[T_D_MOTIVO_DEVOLUCION] CHECK CONSTRAINT [FK_MOTIVOD_VENTAS]
GO
ALTER TABLE [dbo].[T_D_TRANSLADOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_RANSLADOS_DETALLEO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[T_M_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[T_D_TRANSLADOS_DETALLE] CHECK CONSTRAINT [FK_RANSLADOS_DETALLEO_PRODUCTO]
GO
ALTER TABLE [dbo].[T_D_TRANSLADOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_RANSLADOS_DETALLEO_TRANSLADO] FOREIGN KEY([ID_TRANSLADO])
REFERENCES [dbo].[T_M_TRANSLADO_PRODUCTO] ([ID_TRANSLADO])
GO
ALTER TABLE [dbo].[T_D_TRANSLADOS_DETALLE] CHECK CONSTRAINT [FK_RANSLADOS_DETALLEO_TRANSLADO]
GO
ALTER TABLE [dbo].[T_D_VENTAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_DETALLE_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[T_M_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[T_D_VENTAS_DETALLE] CHECK CONSTRAINT [FK_VENTAS_DETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[T_D_VENTAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_DETALLE_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[T_M_VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[T_D_VENTAS_DETALLE] CHECK CONSTRAINT [FK_VENTAS_DETALLE_VENTA]
GO
ALTER TABLE [dbo].[T_M_CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_TIPO_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[T_M_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[T_M_CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[T_M_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[T_M_PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[T_M_COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_PROVEEDOR]
GO
ALTER TABLE [dbo].[T_M_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[T_M_COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_SUCURSAL]
GO
ALTER TABLE [dbo].[T_M_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_TIPO_COMPROBANTE] FOREIGN KEY([ID_TIPO_COMPROBANTE])
REFERENCES [dbo].[T_M_TIPO_COMPROBANTE] ([ID_TIPO_COMPROBANTE])
GO
ALTER TABLE [dbo].[T_M_COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_TIPO_COMPROBANTE]
GO
ALTER TABLE [dbo].[T_M_COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_T_M_COMPRAS_T_M_TIPOPAGO] FOREIGN KEY([ID_TIPO_PAGO])
REFERENCES [dbo].[T_M_TIPO_PAGO] ([ID_TIPO_PAGO])
GO
ALTER TABLE [dbo].[T_M_COMPRAS] CHECK CONSTRAINT [FK_T_M_COMPRAS_T_M_TIPOPAGO]
GO
ALTER TABLE [dbo].[T_M_MOVIMIENTO_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTOP_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[T_M_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[T_M_MOVIMIENTO_PRODUCTO] CHECK CONSTRAINT [FK_MOVIMIENTOP_PRODUCTO]
GO
ALTER TABLE [dbo].[T_M_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_PROVEEDOR_TIPO_DOCUMENTO] FOREIGN KEY([ID_TIPO_DOCUMENTO])
REFERENCES [dbo].[T_M_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[T_M_PROVEEDOR] CHECK CONSTRAINT [FK_PROVEEDOR_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[T_M_TRANSLADO_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLADO_SUCURSAL_DESTINO] FOREIGN KEY([ID_SUCURSAL_DESTINO])
REFERENCES [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[T_M_TRANSLADO_PRODUCTO] CHECK CONSTRAINT [FK_TRANSLADO_SUCURSAL_DESTINO]
GO
ALTER TABLE [dbo].[T_M_TRANSLADO_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLADO_SUCURSAL_ORIGEN] FOREIGN KEY([ID_SUCURSAL_ORIGEN])
REFERENCES [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[T_M_TRANSLADO_PRODUCTO] CHECK CONSTRAINT [FK_TRANSLADO_SUCURSAL_ORIGEN]
GO
ALTER TABLE [dbo].[T_M_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_T_M_VENTAS_T_M_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[T_M_SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[T_M_VENTAS] CHECK CONSTRAINT [FK_T_M_VENTAS_T_M_SUCURSAL]
GO
ALTER TABLE [dbo].[T_M_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_T_M_VENTAS_T_M_TIPOPAGO] FOREIGN KEY([ID_TIPO_PAGO])
REFERENCES [dbo].[T_M_TIPO_PAGO] ([ID_TIPO_PAGO])
GO
ALTER TABLE [dbo].[T_M_VENTAS] CHECK CONSTRAINT [FK_T_M_VENTAS_T_M_TIPOPAGO]
GO
ALTER TABLE [dbo].[T_M_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_T_M_VENTAS_T_M_VENTAS] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[T_M_VENTAS] ([ID_VENTA])
GO
ALTER TABLE [dbo].[T_M_VENTAS] CHECK CONSTRAINT [FK_T_M_VENTAS_T_M_VENTAS]
GO
ALTER TABLE [dbo].[T_M_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[T_M_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[T_M_VENTAS] CHECK CONSTRAINT [FK_VENTAS_CLIENTE]
GO
ALTER TABLE [dbo].[T_M_VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_TIPO_COMPROBANTE] FOREIGN KEY([ID_TIPO_COMPROBANTE])
REFERENCES [dbo].[T_M_TIPO_COMPROBANTE] ([ID_TIPO_COMPROBANTE])
GO
ALTER TABLE [dbo].[T_M_VENTAS] CHECK CONSTRAINT [FK_VENTAS_TIPO_COMPROBANTE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 entradas // 2 salidas' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_M_MOVIMIENTO_PRODUCTO', @level2type=N'COLUMN',@level2name=N'FLG_MOVIMIENTO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 VENTA REALIZADO // 1 ANULADO ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_M_VENTAS', @level2type=N'COLUMN',@level2name=N'FLG_ANULADO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' 0 : AL CONTADO // 1 : AL CREDITO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_M_VENTAS', @level2type=N'COLUMN',@level2name=N'ID_TIPO_PAGO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' 1 :: CREDITO CANCELADO // DETALLE SE GUARDA EN LA TABLA VENTAS CREDITO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_M_VENTAS', @level2type=N'COLUMN',@level2name=N'FLG_ESTADO_CREDITO'
GO
