<script src="@Url.Content("~/Scripts/Js/Administracion/Usuarios.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Js/Administracion/Usuario_Perfil.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        Usuarios_ConfigurarGrilla();
        Usuarios_CargarGrilla();
    });

    $("#Usuarios_btnBuscar").click(function (e) {
        Usuarios_CargarGrilla();
    });

    $("#Usuarios_btnLimpiar").click(function (e) {
        Usuarios_Limpiar();
    });


    $("#Usuarios_btnNuevo").click(function (e) {
        Usuarios_MostrarNuevo();
    });



</script>

<div class="modal fade" id="myModalNuevo" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>




<div class="row  mb-3">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
          <h4 class="card-title">Listado Usuarios</h4>
    </div>
</div>

<div class="row ">
    <div class="col-xl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <button id="Usuarios_btnNuevo" type="button" class="btn btn-hover-shine btn-square btn-primary " ><i class="bi bi-plus-square"></i>&nbsp Nuevo Usuario</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table"  id="Usuarios_Grilla" style="width: 100%"></table>
                    @*<div id="Usuarios_Barra"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
