@model App_Ventas.Areas.Ventas.Models.BuscarProductoModelView
<script>
    var _Valido = false;
    var _ID_SUCURSAL = @Model.ID_SUCURSAL

    $(document).ready(function () {
    });
    $(function () {
        $(".modal-content").draggable();
    });
    $('#Importar_btn_DPlantilla').click(function () {

    }); 
</script>
<style>
    #modal-dialog_this {
        margin: 30px auto;
        max-width: 600px;
    }

    #ModalImportar {
        padding: 8px;
        background: #2c7be5 !important;
    }
</style>

<div class="modal fade" id="myModalDescargar" tabindex="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="modal-dialog" role="document" id="modal-dialog_this">
    <div class="modal-content">
        <div class="modal-header" id="ModalImportar">
            <h5 class="modal-title"><i class="bi bi-cloud-upload"></i>&nbsp; Carga masiva productos</h5>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("", "", new { @area = "" }, FormMethod.Post, new { @id = "frmMantenimiento_BuscarProducto" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body mb-0">
                                <h5 class="card-title">Descarga plantilla excel</h5>
                                <p class="card-text">Para poder importar tus productos en lote debes descargar la plantilla y enviarlo utilizando el mismo formato!.</p>
                                <button type="button" id="Importar_btn_DPlantilla" class="btn btn-outline-success"><i class="bi bi-file-earmark-excel"></i>&nbsp; Descargar Plantilla</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card mb-0">
                            <div class="card-body mb-0">
                                <div class="custom-file mb-3">
                                    <input id="FileExcel" type="file" class="custom-file-input" accept=".csv, .xls, .xlsx" >
                                    <label class="custom-file-label" id="Lbl_NameArchivo">Sin archivo cargado..</label>
                                </div>

                                <div class="alert alert-info alert-dismissible alert-alt fade show">
                                    <strong><i class="bi bi-info-circle text-info"></i>&nbsp;</strong>Todos los productos que se ingresen en el excel,
                                         serán registrados en el almacén para la sucursal:<b> @Model.DESC_SUCURSAL</b> (ID: @Model.ID_SUCURSAL)
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" id="Producto_Btn_Ingreso" class="btn btn-hover-shine btn-square btn-primary"><i class="bi bi-cloud-upload"></i>&nbsp; Comenzar carga</button>
            <button type="button" class="btn  btn-square btn-dark" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
